/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Mulish", sans-serif;
  margin: 0px auto;
}

/* Custom Property */
:root {
  --color-plate1: #ff5400;
  --color-plate2: rgba(19, 19, 24, 0.7);
  --color-plate3: #5a5a5d;
  --color-plate4: #424247;
  --color-plate5: #131318;
}

/* Shared Style */
.btn-primary {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 800;
  border-radius: 8px;
  background-color: var(--color-plate1);
  padding: 14px 35px;
  border: none;
  cursor: pointer;
}
.title-primary {
  color: var(--color-plate5);
  font-size: 2.5rem;
  font-weight: 800;
}
.text-primary {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

/* header styles */
#header {
  max-width: 1170px;
  margin: 50px auto 100px auto;
}
/* navigation menu style */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 1.5rem;
}
.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}
.logo-title {
  color: var(--color-plate5);
  font-size: 2.25rem;
  font-weight: 800;
}
.logo-title > span,
.nav-menu .active {
  color: var(--color-plate1);
}
.nav-menu {
  display: flex;
  gap: 2.5rem;
}
.nav-menu a {
  text-decoration: none;
  color: var(--color-plate4);
  font-size: 1.125rem;
  font-weight: 700;
}
.hamburger {
  display: none;
}
/* banner style */
#banner {
  min-height: 500px;
  background-image: url("../assets/Images/Group 13 (1) (1).png");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 16px;
}
.banner-content {
  border-radius: 16px;
  width: 100%;
  height: 500px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}
.banner-title {
  font-size: 4rem;
  color: #fff;
}
.banner-text {
  color: #fff;
}
.banner-text > span,
.destination-text > span,
.choose-us-text > span {
  display: block;
}
.banner-search {
  margin-top: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 12px;
  display: flex;
  gap: 1.5rem;
  position: relative;
  align-items: center;
}
.banner-search input {
  color: rgba(19, 19, 24, 0.5);
  border-radius: 8px;
  border: none;
  padding: 20px 10px 20px 12px;
}
.banner-search input:focus {
  outline: 0;
}
.when-search-icon {
  position: absolute;
  top: 35px;
  left: 381px;
  color: rgba(19, 19, 24, 0.5);
}
.type-search-icon {
  position: absolute;
  top: 35px;
  left: 590px;
  color: rgba(19, 19, 24, 0.5);
}
.banner-btn {
  display: flex;
  align-items: center;
  gap: 7px;
}

/* main style */
#main {
  max-width: 1170px;
  margin: 100px auto 100px auto;
}
/* popular tours styles */
#popular-tours {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
#popular-tours p {
  margin: 24px 0px;
  color: var(--color-plate2);
}
#popular-tours li {
  margin: 12px 0px;
  color: var(--color-plate3);
}
/* destination style */
#destination {
  margin: 100px 0px;
  text-align: center;
}
.destination-text {
  color: var(--color-plate2);
  margin: 24px 0px;
}
.first-choice {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.maldives {
  height: 300px;
  background-image: url("../assets/Images/Rectangle\ 5.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.indonesia {
  height: 300px;
  background-image: url("../assets/Images/Rectangle 8.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.maldives h4,
.indonesia h4,
.srilanka h4,
.north-america h4,
.kashmir h4,
.bangladesh h4,
.bandarban h4 {
  background: linear-gradient(
    180deg,
    hsla(240, 12%, 8%, 0.5) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  border-radius: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.75rem;
  font-weight: 800;
}
.second-choice {
  display: grid;
  grid-template-columns: 374px 474px 274px;
  gap: 1.5rem;
  margin: 24px 0px;
}
.srilanka {
  height: 286px;
  background-image: url("../assets/Images/Rectangle 6.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.north-america {
  height: 286px;
  background-image: url("../assets/Images/Rectangle 7.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.kashmir {
  height: 286px;
  background-image: url("../assets/Images/Rectangle 9.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.third-choice {
  display: grid;
  grid-template-columns: 473px 673px;
  gap: 1.5rem;
}
.bangladesh {
  height: 300px;
  background-image: url("../assets/Images/Rectangle 11.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.bandarban {
  height: 300px;
  background-image: url("../assets/Images/Rectangle 10.png");
  background-repeat: no-repeat;
  background-position: center center;
}
/* choose us styles */
#choose-us h2 {
  text-align: center;
}
.choose-us-text {
  color: var(--color-plate2);
  text-align: center;
  margin: 24px 0px;
}
.choose-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  align-items: center;
}
.offer-1,
.offer-2,
.offer-3 {
  padding: 32px;
  border-radius: 16px;
}
.offer-1,
.offer-3 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.offer-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.offer-3 {
  width: 550px;
  margin: 24px auto 0px auto;
}
.offer-1 img,
.offer-2 img,
.offer-3 img {
  width: 64px;
  height: 64px;
}
.offer-1 h4,
.offer-2 h4,
.offer-3 h4 {
  font-size: 1.5rem;
  margin: 20px 0px;
}
.offer-1 p,
.offer-2 p,
.offer-3 p {
  color: var(--color-plate3);
}
/* award section */
#award {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 100px 0px;
  gap: 1.5rem;
}
.award-img img {
  width: 90%;
  border-radius: 16px;
}
.award-container h2 {
  margin: 20px 0px;
}
.award-container p {
  margin: 20px 0px;
  color: var(--color-plate2);
}
.award-container img {
  width: 64px;
  height: 64px;
}
/* newsletter styles */
#newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  position: relative;
}
.subscribe-form {
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}
.subscribe-form h4 {
  font-size: 1.25rem;
}
.subscribe-form p {
  color: var(--color-plate3);
  margin: 20px 0px;
}
.news-hr {
  height: 1px;
  width: 100%;
  background: rgba(19, 19, 24, 0.1);
  margin: 24px 0px;
}
.news-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.news-form input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  padding: 20px 16px;
  color: rgba(19, 19, 24, 0.3);
  border: none;
}
.news-form input:focus {
  outline: 0;
}
.newsletter-img button {
  font-weight: 400;
  transform: rotate(-30deg);
  position: absolute;
  bottom: 61px;
  right: 5px;
}
.newsletter-img button > span {
  font-weight: 800;
  display: block;
}

/* footer style */
#footer {
  background: rgba(19, 19, 24, 0.05);
}
.footer-container {
  padding: 110px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-logo img {
  width: 40px;
}
.footer-logo h3 {
  font-size: 2rem;
}
.footer-text {
  width: 60%;
  color: var(--color-plate3);
  margin: 20px 0px;
}
.social-icon {
  display: flex;
  gap: 1.5rem;
}
.social-icon i {
  font-size: 1.5rem;
  cursor: pointer;
}
.footer-hr {
  width: 65%;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
  margin: 50px 0px;
}

/* --------------
Responsive Styles 
-------------- */
/* ==> Mobile Device */
@media only screen and (max-width: 576px) {
  #header {
    margin: 24px 20px;
  }
  .nav-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hamburger > img {
    width: 1.75rem;
    cursor: pointer;
  }
  .banner-content {
    gap: 1rem;
  }
  .banner-search {
    flex-direction: column;
    margin-top: 16px;
  }
  .banner-title,
  #destination h2,
  .tour-content h2,
  #choose-us h2,
  .award-container h2 {
    font-size: 1.25rem;
  }
  .banner-text > span,
  .choose-us-text > span {
    display: inline;
  }
  .banner-search input {
    padding: 20px 76px 20px 24px;
  }
  .when-search-icon {
    top: 113px;
    left: 250px;
  }
  .type-search-icon {
    top: 191px;
    left: 250px;
  }
  .banner-btn {
    padding: 14px 70px;
  }
  #main {
    margin: 40px 20px;
  }
  #popular-tours {
    flex-direction: column;
  }
  .tour-image > img {
    width: 100%;
  }
  #destination,
  #award {
    margin: 30px 0px;
  }
  .first-choice,
  .second-choice,
  .third-choice {
    grid-template-columns: repeat(1, 1fr);
  }
  .srilanka,
  .bandarban,
  .north-america,
  .kashmir,
  .bangladesh,
  .maldives,
  .indonesia {
    height: 176px;
    border-radius: 16px;
  }
  .kashmir {
    background-size: 100%;
  }
  .choose-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .offer-3 {
    width: 100%;
  }
  .offer-1 h4,
  .offer-2 h4,
  .offer-3 h4 {
    font-size: 1.25rem;
  }
  #award {
    grid-template-columns: repeat(1, 1fr);
  }
  .award-img img {
    width: 100%;
  }
  #newsletter {
    flex-direction: column;
  }
  .newsletter-img img {
    width: 100%;
  }
  .footer-text {
    width: 85%;
  }
  .footer-hr {
    width: 90%;
  }
}
/* ==> Tablet Device */
@media only screen and (min-width: 576px) and (max-width: 992px) {
  #header {
    margin: 48px 20px;
  }
  .nav-menu {
    gap: 1.5rem;
  }
  .banner-search {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .banner-search input {
    padding: 20px 10px 20px 12px;
  }
  .when-search-icon {
    top: 32px;
    left: 440px;
  }
  .type-search-icon {
    top: 32px;
    left: 647px;
  }
  #main {
    margin: 60px 20px;
  }
  #popular-tours {
    flex-direction: column;
  }
  .tour-image > img {
    width: 100%;
  }
  #destination,
  #award {
    margin: 50px 0px;
  }
  .second-choice {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .third-choice {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .srilanka,
  .bandarban,
  .north-america,
  .kashmir,
  .bangladesh,
  .maldives,
  .indonesia {
    border-radius: 16px;
  }

  #award {
    grid-template-columns: repeat(1, 1fr);
  }
  .award-img img {
    width: 100%;
  }
  #newsletter {
    flex-direction: column;
  }
  .newsletter-img img {
    width: 100%;
  }
  .newsletter-img button {
    bottom: 61px;
    right: 50px;
  }
  .footer-text {
    width: 85%;
  }
  .footer-hr {
    width: 90%;
  }
}
